@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,300;1,500;1,600;1,700;1,800&display=swap');

*{
    margin:0% ;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins" ,sans-serif;
}
body{
 
    width: 100%;
    height: auto;
 

}
.background{

    background: linear-gradient(90deg, rgba(177,241,194,1) 0%, rgba(201,240,217,1) 35%, rgba(25,247,0,1) 100%);
    background-size: cover;
    background-position: center;
    width:100%;

  
}
header{
    display: flex;
    justify-content: space-around;
    max-width:100%;
    height:auto;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    
}


.logo {
    width: 60px;
    font-size: 32px;
    font-weight: 600;
    color: #2ecc71;
    border: #fff solid 2px;
  
  }
  
  
  nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(177,241,194,1) 0%, rgba(201,240,217,1) 35%, rgba(25,247,0,1) 100%);
    height: 10vh;
    
  }
  .nav-list {
    list-style: none;
    display: flex;
    
  }
  
  .nav-list li a{
    letter-spacing: 1px;
    margin-left: 19px;
    color: #fff;
    font-size: 20px;
    
 
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
    
  }
  
  .mobile-menu div {
    width: 28px;
    height: 2px;
    background-color: #000;
    margin: 8px;
    transition: 0.3s;
    margin-left: -120px; 
  
  
  }
  
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 3vh;
      right: 0;
      width: 50vw;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      
    }
    .nav-list li  {
      margin-left: 0;
      opacity: 0;
    }
    .nav-list li a{
      letter-spacing: 1px;
      margin-left: 19px;
      color: #fff;
      font-size: 18px;
      
   
    }
  
    .mobile-menu {
      display: block;
      
      
    }
  }

  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

button:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
}
.container-text{
    padding: 100px 0 0 100px;
    display: flex;
    justify-content: space-around;
}
hr{
    width: 80%;
    height: 3px;
    background-color: #000;
    margin: 0px auto;
    
}
.text h3{
color: #2ecc71;
font-size: 25px;
}
.text h1{
    color: #000;
    margin-top: 10px;
    font-size: 35px;
}
.text span{
    color: #2ecc71;
}
.text h2{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-top: 3px;
}
.redes-sociais a {
  
    
  
color: #2ecc71;
padding: 20px;


}
.redes-sociais p{
    color: #000;
    font-size: 18px;
}



.btn{
    margin-top: 15px;
gap: 3px;

}
.btn a{
    
   
    color: #fff;
    

}
.perfil img{

    border: #fff solid 2px;
border-radius: 50%;
margin-left: 70px;



}
.subir{
    width: 40px;
    height: 40px;
border: #fff solid 2px;


}
.subir img{

    display: flex;
    margin: 0px auto;
    align-items: center;
    padding: 8px;
}
#subir{
    height: 100px;
    background: linear-gradient(90deg, rgba(177,241,194,1) 0%, rgba(201,240,217,1) 35%, rgba(25,247,0,1) 100%);
    display: flex;
    justify-content:center;
    align-items: center;

}
footer{
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(177,241,194,1) 0%, rgba(201,240,217,1) 35%, rgba(25,247,0,1) 100%);
}

@media screen  and (max-width: 960px){
    header{
        max-width:960px;
    
    }
    .cabecario-link{
        max-width: 960px;
        font-size: 8px;
        flex-direction: column;
    }
    .logo{
        display: none;
    }
    .perfil img{
      margin: 0 auto;
    }
 
}
@media screen  and (min-width: 960px){
    header{
        min-width:360px;
    
    }
}
